body {
    margin: 0;
    height: 100%;
}


body, html {
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, roboto, oxygen, cantarell, helvetica neue, ubuntu, sans-serif;
    color: #1a1a1a;
    height: 100%;
    margin: 0;
    background-color: #fff
}


/*네비게이션 바*/

.nav-bar {
    background-color: rgba(30, 30, 30, 1);
    /*background-color: transparent;*/

    padding: 0 16px;
    height: 60px;
    z-index: 30;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    display: flex;
}

div {
    display: block;
}


/* 로고 */
.nav-bar-a {
    display: flex;
}
.nav-bar-a-logo {
    position: absolute;
    left: 16px;
    height: 40px;
    width: auto;
    margin: 10px;
}
.nav-bar-a-text {
    position: absolute;
    left: 68.5px;
    display: inline-block;
    margin: 12.5px 14px 12.5px 14px;
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 5px;

}



/*이미지 갤러리 파트*/
.container {
    background-color: white;
    width: 100%;
    /*width*/
    /*max-width: 900px;*/
    /*margin: 0 auto;*/
    box-shadow: 0 0 61px 7px #5e849c40;
    /*padding: 50px 20px;*/
    border-radius: 20px;
    text-align: center;
}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.gallery{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)) ;
  margin-top: 10px;
  grid-gap: 1em;
}
.item{
  width: 100%;
  height: 349px;
  position: relative;
  overflow: hidden;
  /*border-radius:8px;*/
  transition: .3s ease box-shadow;
}


.item:nth-last-child(1){
  margin-bottom: 0;
}
.item h3{
  width: 100%;
  padding: 20px;
  position: absolute;
  background-color: #00000040;
  color: aliceblue;
  bottom: -70px;
  font-weight: 300;
  transition: .5s ease-in-out bottom;
}
.item:hover h3{
  bottom: 0;
}

/* 로그인 화면 */
.login_body{
    width :100%;
    height :100%;
    /*background-color: gray;*/
    overflow-y: hidden; overflow-x: hidden;

    /*background-color: transparent;*/
}
.register{
    position: absolute;
    right: 16px;

    margin-top: 10px;
    margin-bottom: 10px;

    width: 80px;
    height: 40px;
    line-height: 40px;
    border: none;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
    background: linear-gradient(125deg,#81ecec,#6c5ce7,#81ecec);
    background-position: left;
    background-size: 200%;
    border-radius: 4px;
    text-align: center;
    vertical-align: middle;
}
.register:hover {
    background-position: right;
}
.register_text{
    position: absolute;
    right: 90px;
    display: inline-block;
    margin: 18px 26px 18px 14px;
    color: white;
    text-decoration: none;
    font-size: 21px;
    font-weight: 500;
    letter-spacing: 2px;
}
.login_form{
    position:absolute;
    width:400px;
    height:500px;
    padding: 40px 20px;
    background-color:#FFFFFF;
    text-align:center;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
}
.login_form h2{
    text-align: center;
    margin-top: 88px;
    margin-bottom: 50px;
    font-size: 33px;
}
.form_id{
    border-bottom: 2px solid #adadad;
    margin: 30px;
    padding: 10px 10px;
}
.form_pw{
    border-bottom: 2px solid #adadad;
    margin: 30px 30px 50px 30px;
    padding: 10px 10px;
}
.id{
    width: 100%;
    border:none;
    outline:none;
    color: #636e72;
    font-size:16px;
    height:25px;
    background: none;
}
.pw{
    width: 100%;
    border:none;
    outline:none;
    color: #636e72;
    font-size:16px;
    height:25px;
    background: none;
}
.btn{
    position:relative;
    left:40%;
    transform: translateX(-50%);
    margin-bottom: 40px;
    width:80%;
    height:60px;
    background: linear-gradient(125deg,#81ecec,#6c5ce7,#81ecec);
    background-position: left;
    background-size: 200%;
    color:white;
    font-weight: bold;
    border:none;
    cursor:pointer;
    transition: 0.4s;
    display:inline;
    font-size: 21px;
    border-radius: 7px;
}
.btn:hover {
    background-position: right;
}
.login_background{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .7;
  filter: alpha(opacity=70);
}
