body {
    margin: 0;
    height: 100%;
}

body, html {
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, roboto, oxygen, cantarell, helvetica neue, ubuntu, sans-serif;
    color: #1a1a1a;
    height: 100%;
    margin: 0;
    background-color: #fff
}

/*네비게이션 바*/

.nav-bar {
    /*background-color: rgba(30, 30, 30, 0.7);*/
    background-color: transparent;

    padding: 0 16px;
    height: 60px;
    z-index: 30;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    display: flex;
}

.search-bar_container2 {
    display: flex;

    margin-top: 6.5px;
    text-align: center;
}
.search-bar_container2 input {
    position: absolute;
    left: 170px;
    font-size: 17px;
    font-weight: 300;
    line-height: 22px;

    height: 47px;
    width: 598px;

    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;

    padding: .9rem 1.25rem;
    background-color: white;
    border: none;
    outline: none;
    margin-bottom: 6.5px;

}
.search-bar_container2 button {
    position: absolute;
    left: 768px;
    height: 47px;
    width: 53px;

    border: none;
    background-color: white;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    cursor: pointer;
    z-index: 1;
}

/* 로고 */
.nav-bar-a {
    display: flex;
}
.nav-bar-a-logo {
    position: absolute;
    left: 16px;
    height: 40px;
    width: auto;
    margin: 10px;
}
.nav-bar-a-text {
    position: absolute;
    left: 68.5px;
    display: inline-block;
    margin: 12.5px 14px 12.5px 14px;
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 5px;

}
/* 검색창 */
.search-bar_container {
    text-align: center;
    display: flex;
    visibility: visible;
}
.search-bar_container input {
    font-size: 17px;
    font-weight: 300;
    line-height: 22px;

    height: 47px;
    width: 684px;

    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;

    padding: .9rem 1.25rem;
    background-color: white;
    border: none;
    outline: none;
}
.search-bar_container button {
    height: 47px;
    width: 53px;

    border: none;
    background-color: white;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    cursor: pointer;
    z-index: 1;
}
/* 로그인 */
.login {
    position: absolute;
    right: 16px;

    margin-top: 10px;
    margin-bottom: 10px;

    width: 80px;
    height: 40px;
    line-height: 40px;
    border: none;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
    background: linear-gradient(125deg,#81ecec,#6c5ce7,#81ecec);
    background-position: left;
    background-size: 200%;
    border-radius: 4px;
    text-align: center;
    vertical-align: middle;

}
.login:hover {
    background-position: right;
}


/*hero part*/



.hero {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 1.15rem;
    padding-top: 74px;
    padding-bottom: 66px;
    color: #fff;
    background-color: #d3d3d3;
    text-decoration: none;
    height: 100%;
    max-height: 500px;
    min-height: 380px;
    z-index: 1
}
.hero__background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

@media (max-width: 849px){
.hero__footer {
    display: none;
}
    }
.hero__footer {
    display: block;
    font-size: 12px;
    line-height: 19px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
    height: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 0 1.15rem;
    z-index: 3;
}

.hero__content {
    max-width: 650px;
    width: 100%;
    z-index: 3;
}

.hero__title {
    display: block;
    font-size: 36px;
    line-height: 48px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 15px;
}
/*h1, h2, h3 {*/
/*    margin-top: 20px;*/
/*    margin-bottom: 5px;*/
/*}*/

.hero:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(transparent));
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, transparent 100%);
    z-index: 2
}

*, :before, :after {
    box-sizing: border-box;
}

div {
    display: block;
}


/* 드롭다운 */
#search-bar-dropdown_recent_searches{
    position: absolute;
    padding: 20px;
    z-index: 10;
    height: 144px;
    max-height: calc(100vh - 150px);
    width: 650px;
    /*max-height: calc(100vh - 150px);*/
    color: black;
    box-shadow: 0 16px 22px -10px rgba(0,0,0,.15),0 34px 55px 4px rgba(0,0,0,.08),0 13px 66px 12px rgba(0,0,0,.07);
    background: white;

    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;

}
#search-bar-dropdown_recent_searches2 {
    position: absolute;
    left: 170px;
    top: 53.5px;
    padding: 20px;
    height: 144px;
    max-height: calc(100vh - 150px);
    width: 651px;
    /*max-height: calc(100vh - 150px);*/
    color: black;
    box-shadow: 0 16px 22px -10px rgba(0,0,0,.15),0 34px 55px 4px rgba(0,0,0,.08),0 13px 66px 12px rgba(0,0,0,.07);
    background: white;

    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    text-align: left;
    z-index: 28;
}

.search-bar__dropdown__section__title h1, .search-bar__dropdown__section__title2 h1 {
    margin-top: 0;
    font-size: 20px;
    font-weight: 400;
}
.search-bar__dropdown__section__content, .search-bar__dropdown__section__content2 {

    height: 35px;
    align-items: center;
    cursor: default;
}
.search-bar__dropdown__section__content a, .search-bar__dropdown__section__content2 a{
    text-decoration: none;
    padding: 7px 8px 7px 14px;
    background-color: rgb(232, 232, 232);
    border-radius: 30px;
    margin-right: 15px;
    cursor: pointer;
}
.history_btn {
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
    color: #1a1a1a;
}
.search-bar__dropdown__section__content a:hover, .search-bar__dropdown__section__content2 a:hover {
    background-color: rgb(211,211,211);
}


/*이미지 갤러리 파트*/
.container {
    /*background-color: white;*/
    width: 1850px;
    padding-left: 20px;
    padding-right:20px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;

    margin-top: 100px;
    /*box-shadow: 0 0 61px 7px #5e849c40;*/

    border-radius: 20px;
    text-align: center;
}


img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)) ;
  margin-top: 10px;
  grid-gap: 1em;
}
.gallery_title {
    color: rgb(26, 26, 26);
    font-size: 18px;
    mso-ansi-font-weight: 600;
    line-height: 26px;
    text-align: left;
    margin-bottom: 0;
}
.item{
  width: 100%;
  height: 349px;
  position: relative;
  overflow: hidden;
  /*border-radius:8px;*/
  transition: .3s ease box-shadow;
}

.item:hover{
  box-shadow: 0 0 20px 1px #00000042;
}
.item:nth-last-child(1){
  margin-bottom: 0;
}
.item h3{
  width: 100%;
  padding: 20px;
  position: absolute;
  background-color: #00000040;
  color: aliceblue;
  bottom: -70px;
  font-weight: 300;
  transition: .5s ease-in-out bottom;
  margin-top: 20px;
  margin-bottom: 0;
}
.item:hover h3{
  bottom: 0;
}

.load-more{
  display: inline-block;
  margin-top:30px;
  margin-bottom: 30px;
  padding: 20px 50px;
  background-color: black;
  text-decoration: none;
  text-transform: uppercase;
  color: azure;
  font-weight: 500;
  cursor: pointer;
}

/* 에러 메세지 */
.error_message {
    margin-top: 50px;

    font-weight: 800;
    text-transform: capitalize;
    text-align: center;
}
.recomend_msg {
    line-height: 25px;
    font-weight: 300;
    margin-top: 50px;
    color: #5e5e5e;
    margin-bottom: 0;
}
.recomend_msg a{
    color: #0064f9;
    text-decoration: none;
}



/*레이어 팝업*/

.layer-container .dimBg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .5;
    filter: alpha(opacity=50);
}


a.btn-layerClose {
    display: inline-block;
    padding: 0 14px 0;
    /* border: 1px solid #304a8a; */
    background-color: rgb(33,150,243);
    text-decoration: none;
    margin-top: 22px;


    width: 80px;
    height: 40px;
    line-height: 40px;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
    background: linear-gradient(125deg,#81ecec,#6c5ce7,#81ecec);
    background-position: left;
    background-size: 200%;
    border-radius: 4px;
    text-align: center;
    vertical-align: middle;
}

a.btn-layerClose:hover {
    background-position: right;
}

.layer-popup .btn-r {
    width: 100%;
    margin: 10px 0 20px;
    padding-top: 10px;
    border-top: 1px solid #DDD;
    text-align: right;
}

.layer-popup {
    display: none;
    position: absolute;
    /*border: 5px solid #3571B5;*/
    background-color: #fff;
    z-index: 10;
    box-shadow: 0 0 20px 13px #00000042;
}

.layer-container {
    display: none;
    position: fixed;
    _position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.layer-container .layer-popup {
    display: block;
}

.layer-popup .modal-dialog {

    height: 90%;
    padding: 20px 25px;
    background-color: #fff;
}

.modal-content {
    padding: 10px 15px;
    text-align: center;
    line-height: 100px;
}
.pop-img{
    object-fit: contain;
}


.search-bar__dropdown__section__title, .search-bar__dropdown__section__title2 {
    display: flex;
}
.erase_btn, .erase_btn2 {
    border: none;
    background: none;
    margin-bottom: 14px;

}