{% load static %}
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Pexels 121</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}?ver=2"/>
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/logo-free.png' %}"/>
    </head>

    <body>
        <nav class = "nav-bar">
            <a class="nav-bar-a" href="{% url 'home:index' %}">
                <div class="nav-bar-a-logo">
                    로고
                </div>
                <div class="nav-bar-a-text">
                    이름
                </div>
            </a>
            {% block search %}
            <form action="{% url 'home:search:index' %}" method="post">
            {% csrf_token %}
                <input autocapitalize="none" autocomplete="off" id="search" placeholder="무료 사진 검색" required="required" type="search" name="search_content" value="{{ text }}"/>
                <button id="search-action" title="스톡 사진 검색" type="submit" value="검색"></button>
            </form>
            {% endblock %}
            <a href="{% url 'home:search:history' %}">검색 기록</a>
        </nav>

        {% block header %}
        <header>
            <div class="hero">
                히어로 섹션
            </div>
        </header>
        {% endblock %}

        {% block main %}
        <main>
            <div class = "container">
                이미지들이 좌르륵!
            </div>
        </main>
        {% endblock %}

        <script src="{% static 'javascript/index.js' %}"></script>
    </body>
</html>