<!DOCTYPE html>
{% load static %}
<head xmlns="http://www.w3.org/1999/html">
    <meta charset="utf-8"/>
    <title>121</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login_style.css' %}"/>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/logo-free.png' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body class="login_body">
<div class="login_background">
    <div class="container">
        <div class="gallery">
        </div>
    </div>
</div>
<nav class="nav-bar">
    <a class="nav-bar-a" href=" {% url 'home:index' %}">
        <div>
            <img class="nav-bar-a-logo" src="{% static 'assets/logo-free.png' %}"/>
        </div>
        <div>
            <h1 class="nav-bar-a-text">121</h1>
        </div>
    </a>
    <div>
        <h1 class="register_text">Have an account?</h1>
    </div>

    <form method="POST">
        {% csrf_token %}
        <div>
            <button class="register" type="submit" value="Register" name="_register" class="btn btn-primary">Join
            </button>
        </div>
    </form>
</nav>

<div>
    <form method="POST" class="login_form">
        <h2>Welcome Back To 121</h2>
        {% csrf_token %}
        <div class="form_id">
            <input type="text"
                   class="id form-control"
                   name="userID"
                   id="id userID"
                   placeholder="Username"
                    >
        </div>
        <div class="form_pw">
            <input type="password"
                   name="userPW"
                   class="pw form-control"
                   id="userPW"
                   placeholder="Password">
        </div>
        <button type="submit" value="Login" name="_login" class="btn btn-primary">
            Login
        </button>
        <br>
        <span style="color:red;"><strong>{{ error }}</strong> </span>
    </form>
</div>
</body>
<script src="{% static 'javascript/secrets.js' %}"></script>
<script src="{% static 'javascript/login.js' %}"></script>